<header class="site-header">


    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

    <nav class="navbar navbar-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="page-link" href="{{ site.baseurl }}"><img src="{{ "/img/logo.png/" | prepend: site.baseurl }}" class="logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">


<!-- DROP DOWN MENU -->
          <div class="nav navbar-nav navbar-right">
            <a id="nav-toggle" href="#" class=""><span></span></a>
          <div class="drop-menu">
                <div class="list-one">
                    <ul id="menu-main-menu" class="menu">
                {% for page in site.pages %}
                    {% if page.title %}
                        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %} 
                {% endfor %} 
                </ul>                
        </div>
                <div class="list-two">
                  <section class="search"><form role="search" method="get" id="search-form" action="{{ site.baseurl }}">
    <label class="screen-reader-text" for="s"></label>
     <input type="search" value="" name="s" id="s" placeholder="Search" />
     <input type="submit" id="searchsubmit" value="Go" />
     </form></section>                </div>  

            </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  



</header>
